html {
  font-size: 18px;
}

body {
  background-color: #333;
  transition: 0.5s all linear;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fadeIn {
  transition: 0.5s all linear;
  opacity: 1;
}

.fadeOut {
  transition: 0.5s all linear;
  opacity: 0;
}

.quote-box {
  width: 500px;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.quote {
  font-size: 1.5rem;
}

.author {
  text-align: end;
}

button {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.5s all linear;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

button:disabled {
  background-color: grey;
}