html {
  font-size: 18px;
}

body {
  background-color: #333;
  transition: 0.5s background-color linear;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fadeIn {
  transition: 0.5s opacity linear;
  opacity: 1;
}

.fadeOut {
  transition: 0.5s opacity linear;
  opacity: 0;
}

.quote-box {
  width: 500px;
  padding: 1rem;
  background-color: white;
  border: 2px solid black;
}

.quote {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 1rem;
  text-align: center;
}

.author {
  text-align: end;
}

.btn-div {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.5s background-color linear;
}

.btn:hover {
  outline: 2px solid black;
}

.btn:disabled {
  background-color: grey;
}

.socials {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  margin: 0 1rem;
  color: grey;
}